<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mix_stack_manager">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="MixStackManager"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:name="com.example.mix_stack_manager.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NativeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.mix_stack_manager.HostActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background" />

        </activity>

    </application>
</manifest>
